.profile {
    display: flex;
    justify-content:space-between;
    margin-bottom: 50px;
}

@media all and (max-width: 768px) {
    .profile {
        flex-direction: column;
        margin-bottom: 0px;
    }
}